[general]
appversion = 0.1

#Put appkey and appsecret information for every service
[gdrive]
#client_id and client_secret stored in configurationfile, modify them there
configurationfile = config/gdrive_config_sample.json
tokenfile = config/gdrive.dat
csvfile = localdata/gdrivelist
